<section id="search" class="googlesearch">
<!-- Google custom search -->
<script>
  (function() {
    var cx = '016350289967874343381:xk7m-ddehkq';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
<!-- Google custom search -->
<style>
.cse input.gsc-input,
input.gsc-input {
background-image:none !important;
}
</style>
</section><!-- /#table-of-contents -->
